
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Dashboard";
}
<h1>Solicitações de Reservas</h1>
<hr />
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Solicitação de Reserva : Pr. Henrique</div>
        <div class="panel-body">
            Solicitação de reserva do professor Henrique Dezani para o 4°Periodo no Lab 2.
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Solicitação de Reserva : Pr. Marcus</div>
        <div class="panel-body">
            Solicitação de reserva do professor Marcus Oliveira para o 3°Periodo no Lab 1.
        </div>
    </div>

</div>