
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manager Turma";
}

<h1>Turmas</h1>

<button class="btn btn-default" style="position: absolute; margin-top: -3%; right: 10px;"><i class="fa fa-plus" aria-hidden="true"></i> Turmas</button>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Curso</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>4º Periodo</td>
                <td>ADS</td>
                <td>
                    <div>
                        <button class="btn btn-danger">
                            DELETE
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>