
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Manager Sala";
}
<h1>Salas</h1>

<button class="btn btn-default" style="position: absolute; margin-top: -3%; right: 10px;"><i class="fa fa-plus" aria-hidden="true"></i> Salas</button>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>LAB 2</td>
                <td>
                    <div>
                        <button class="btn btn-danger">
                            DELETE
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

